<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    var sv = {
        "name": "Nguyễn viết trung thiện",
        "gender": true,
        "marks": 7.5,
        "contact": {
            "email": "thiennvt@gmail.com",
            "phone": "0983148720"
        },
        "subject": ["WEB205", "COM108"]
    }
    //xuat doi tuong
    console.log(sv);
    // truy xuat thuoc tinh
    sv.name = sv['name'].toUpperCase();
    console.log(sv.name, sv.contact.email, sv.subject[0])
    //duyet doi tuong theo key
    for(var key in sv){
        console.log(key, sv[key])
    }
    //chuyen doi doi tuong json sang chuoi
    var text = JSON.stringify(sv);
    console.log(text);
    //chuyen doi chuoi sang doi tuong
    var obj = JSON.parse(text);
    console.log(obj, obj.name)
</script>
</body>
</html>